
<ul class="alert alert-danger"
*ngIf="errores?.length > 0" >
<li *ngFor="let err of errores">
{{ err }}
</li>
</ul>

<div class="card bg-dark text-white">

<div class="card-header"> Formulario Presentacion </div>

<div class="card-body">

<form #personaForm="ngForm"
      autocomplete="off">

  <div class="form-group row mb-3">
    <label for="presentacion" class="col-form-label col-sm-2">Presentacion</label>
    <div class="col-sm-6">

      <input type="text"
              class="form-control"
              [(ngModel)]="persona.presentacion"
              name="presentacion"
              #presentacion="ngModel"
              placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem placeat, eaque itaque fuga possimus dolorum perspiciatis iste! Voluptas nam ab vel, tenetur voluptates dolorum magni possimus, repellat assumenda, perferendis recusandae."
              required>

      <div class="alert alert-danger"
            *ngIf="presentacion.invalid && (presentacion.dirty || presentacion.touched)">
        <div *ngIf="presentacion.errors.required" >
          presentacion es requerido
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-6">

      <button class="btn btn-primary"
              type="button"
              (click)="update()"
              [disabled]="!personaForm.form.valid">Editar</button>

    </div>
  </div>

</form>

</div>

</div>
