<div>
  <h1>Conocimientos</h1>
</div>

<div class="my-2 text-left">
  <button class="btn btn-rounded btn-primary"
          type="button"
          (click)="agregar()">Agregar Conocimiento</button>
</div>

<div class="card col m-2" *ngFor="let conocimiento of persona.conocimientos; let i=index">
  <div class="card-body">
    <h2 class="card-title">Conocimiento {{ i + 1 }}</h2>
    <div>
      <ul>
        <li>
          Nombre: {{ conocimiento.tecnologia.nombre }}
        </li>
        <li>
          Lenguaje: {{ conocimiento.tecnologia.lenguaje }}
        </li>
        <li>
          Tipo: {{ conocimiento.tecnologia.tipo }}
        </li>
        <li>
          Autoevaluacion: {{ conocimiento.autoevaluacion }}
        </li>
      </ul>
    </div>

    <button type="button"
            name="editar"
            [routerLink]="[ '/conocimientos/agregar' , conocimiento.id ]"
            class="btn btn-warning m-1">
        Editar
    </button>

    <button type="button"
            name="eliminar"
            (click)="delete( conocimiento )"
            class="btn btn-danger m-1">
        Eliminar
    </button>

  </div>
</div>
