<div *ngIf="modalService.modal" class="abrir-modal animacion fadeIn">

  <div class="modal" tabindex="-1" style="display: block;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"> Detalles del Usuario </h2>
          <button (click)="cerrarModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="container">
            <div class="row">
              <div class="col-sm">

                <ul *ngIf="usuario" class="list-group text-dark mb-3">

                  <li class="list-group-item active">
                    {{ usuario.primerNombre }} {{ usuario.segundoNombre }} {{ usuario.primerApellido }} {{ usuario.segundoApellido}}
                  </li>

                  <li class="list-group-item">
                    {{ usuario.run }}
                  </li>

                  <li class="list-group-item">
                    {{ usuario.estadoCivil }}
                  </li>

                  <li class="list-group-item">
                    {{ usuario.nacionalidad }}
                  </li>

                  <li class="list-group-item">
                    {{ usuario.fechaNacimiento | date:"EEEE dd, MMMM yyyy" }}
                  </li>

                </ul>

                <div class="input-group mb-3">
                  <input (change)="seleccionarFoto($event)" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                  <button (click)="subirFoto()" [disabled]="!fotoSeleccionada" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
                </div>

                <div *ngIf="progreso > 0"  class="progress" style="height: 40px;">
                  <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width:progreso + '%'}" attr.aria-valuenow="{{ progreso }}" aria-valuemin="0" aria-valuemax="100">
                    {{ progreso }}%
                  </div>
                </div>

              </div>
              <div class="col-sm">
                <img *ngIf="usuario?.imagen"  src="http://localhost:8080/api/usuarios/uploads/img/{{ usuario.imagen }}" alt="{{ usuario.imagen }}" class="img-thumbnail rounded">
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
