
<ul class="alert alert-danger"
*ngIf="errores?.length > 0" >
<li *ngFor="let err of errores">
{{ err }}
</li>
</ul>

<div class="card bg-dark text-white">

<div class="card-header"> Formulario Datos Personales </div>

<div class="card-body">

<form #usuarioForm="ngForm"
      autocomplete="off">

  <div class="form-group row mb-3">
    <label for="primerNombre" class="col-form-label col-sm-2">Primer Nombre</label>
    <div class="col-sm-6">

      <input type="text"
              class="form-control"
              [(ngModel)]="usuario.primerNombre"
              name="primerNombre"
              #primerNombre="ngModel"
              placeholder="Alan"
              required>

      <div class="alert alert-danger"
            *ngIf="primerNombre.invalid && (primerNombre.dirty || primerNombre.touched)">
        <div *ngIf="primerNombre.errors.required" >
          Primer Nombre es requerido
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="segundoNombre" class="col-form-label col-sm-2">Segundo Nombre</label>
    <div class="col-sm-6">

      <input type="text"
              class="form-control"
              [(ngModel)]="usuario.segundoNombre"
              name="segundoNombre"
              #segundoNombre="ngModel"
              placeholder="Andy"
              required>

      <div class="alert alert-danger"
            *ngIf="segundoNombre.invalid && (segundoNombre.dirty || segundoNombre.touched)">
        <div *ngIf="segundoNombre.errors.required" >
          Segundo Nombre es requerido
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="primerApellido" class="col-form-label col-sm-2">Primer Apellido</label>
    <div class="col-sm-6">

      <input type="text"
              class="form-control"
              [(ngModel)]="usuario.primerApellido"
              name="primerApellido"
              #primerApellido="ngModel"
              placeholder="Moreno"
              required>

      <div class="alert alert-danger"
            *ngIf="primerApellido.invalid && (primerApellido.dirty || primerApellido.touched)">
        <div *ngIf="primerApellido.errors.required" >
          Primer Apellido es requerido
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="segundoApellido" class="col-form-label col-sm-2">Segundo Apellido</label>
    <div class="col-sm-6">

      <input type="text"
              class="form-control"
              [(ngModel)]="usuario.segundoApellido"
              name="segundoApellido"
              #segundoApellido="ngModel"
              placeholder="Pando"
              required>

      <div class="alert alert-danger"
            *ngIf="segundoApellido.invalid && (segundoApellido.dirty || segundoApellido.touched)">
        <div *ngIf="segundoApellido.errors.required" >
          segundoApellido es requerido
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="run" class="col-form-label col-sm-2">Run</label>
    <div class="col-sm-6">

      <input type="text"
             class="form-control"
             [(ngModel)]="usuario.run"
             name="run"
             #run="ngModel"
             placeholder="19.414.709-0"
             required>

      <div class="alert alert-danger"
           *ngIf="run.invalid && (run.dirty || run.touched)">
        <div *ngIf="run.errors.required" >
          run es requerido
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="estadoCivil" class="col-form-label col-sm-2">Estado Civil</label>
    <div class="col-sm-6">

      <input type="text"
              class="form-control"
              [(ngModel)]="usuario.estadoCivil"
              name="estadoCivil"
              #estadoCivil="ngModel"
              placeholder="Soltero, Casado, Divorciado o Viudo"
              required>

      <div class="alert alert-danger"
            *ngIf="estadoCivil.invalid && (estadoCivil.dirty || estadoCivil.touched)">
        <div *ngIf="estadoCivil.errors.required" >
          Estado Civil es requerido
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="nacionalidad" class="col-form-label col-sm-2">Nacionalidad</label>
    <div class="col-sm-6">

      <input type="text"
              class="form-control"
              [(ngModel)]="usuario.nacionalidad"
              name="nacionalidad"
              #nacionalidad="ngModel"
              placeholder="Chileno"
              required>

      <div class="alert alert-danger"
            *ngIf="nacionalidad.invalid && (nacionalidad.dirty || nacionalidad.touched)">
        <div *ngIf="nacionalidad.errors.required" >
          nacionalidad es requerido
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="fechaNacimiento" class="col-form-label col-sm-2">Fecha de Nacimiento</label>
    <div class="col-sm-6">

      <input type="date"
              class="form-control"
              [(ngModel)]="usuario.fechaNacimiento"
              name="fechaNacimiento"
              #fechaNacimiento="ngModel"
              required>

      <div class="alert alert-danger"
            *ngIf="fechaNacimiento.invalid && (fechaNacimiento.dirty || fechaNacimiento.touched)">
        <div *ngIf="fechaNacimiento.errors.required" >
          fechaNacimiento es requerido
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-6">

      <button class="btn btn-primary"
              type="button"
              (click)="update()"
              [disabled]="!usuarioForm.form.valid">Editar</button>

    </div>
  </div>

</form>

</div>

</div>
