<div>
  <h1>Experiencias</h1>
</div>

<div class="my-2 text-left">
  <button class="btn btn-rounded btn-primary"
          type="button"
          (click)="agregar()">Agregar Experiencia</button>
</div>

<div class="card col m-2" *ngFor="let experiencia of persona.experiencias; let i=index">
  <div class="card-body">
    <h2 class="card-title">Experiencia {{ i + 1 }}</h2>
    <div>
      <ul>
        <li>
          Fecha Inicio: {{ experiencia.fechaInicio | date:"EEEE dd, MMMM yyyy" }}
        </li>
        <li>
          Fecha Termino: {{ experiencia.fechaTermino | date:"EEEE dd, MMMM yyyy" }}
        </li>
        <li>
          Lugar: {{ experiencia.lugar }}
        </li>
        <li>
          Descripcion: {{ experiencia.descripcion }}
        </li>
      </ul>
    </div>

    <button type="button"
            name="editar"
            [routerLink]="[ '/experiencias/agregar' , experiencia.id ]"
            class="btn btn-warning m-1">
        Editar
    </button>

    <button type="button"
            name="eliminar"
            (click)="delete( experiencia )"
            class="btn btn-danger m-1">
        Eliminar
    </button>

  </div>
</div>
