
<ul class="alert alert-danger"
*ngIf="errores?.length > 0" >
<li *ngFor="let err of errores">
{{ err }}
</li>
</ul>

<div class="card bg-dark text-white">

<div class="card-header"> Formulario Conocimiento </div>

<div class="card-body">

<form #conocimientoForm="ngForm"
      autocomplete="off">

  <div class="form-group row mb-3">
    <label for="tecnologia" class="col-form-label col-sm-2">Tecnologia</label>
    <div class="col-sm-6">

      <select [compareWith]="compararTecnologia"
              class="form-control"
              [(ngModel)]="conocimiento.tecnologia"
              name="tecnologia"
              #tecnologia="ngModel"
              required>
        <option [ngValue]="undefined">--- seleccionar una tecnologia ---</option>
        <option *ngFor="let tecnologia of tecnologias" [ngValue]="tecnologia">{{ tecnologia.nombre }} - {{ tecnologia.lenguaje }} </option>
      </select>

      <div class="alert alert-danger"
            *ngIf="tecnologia.invalid && (tecnologia.dirty || tecnologia.touched)">
        <div *ngIf="tecnologia.errors.required" >
          tecnologia es requerido
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="nombre" class="col-form-label col-sm-2">Autoevaluacion</label>
    <div class="col-sm-6">

      <input type="number"
             class="form-control"
             [(ngModel)]="conocimiento.autoevaluacion"
             name="autoevaluacion"
             #autoevaluacion="ngModel"
             placeholder="9"
             required>

      <div class="alert alert-danger"
           *ngIf="autoevaluacion.invalid && (autoevaluacion.dirty || autoevaluacion.touched)">
        <div *ngIf="autoevaluacion.errors.required" >
          autoevaluacion es requerido
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-6">

      <button class="btn btn-primary"
              type="button"
              (click)="create()"
              *ngIf="!conocimiento.id else elseBlock"
              [disabled]="!conocimientoForm.form.valid">Crear</button>

      <ng-template #elseBlock>
        <button class="btn btn-primary"
              type="button"
              (click)="update()"
              [disabled]="!conocimientoForm.form.valid">Editar</button>
      </ng-template>

    </div>
  </div>

</form>

</div>

</div>
