
<ul class="alert alert-danger"
*ngIf="errores?.length > 0" >
<li *ngFor="let err of errores">
{{ err }}
</li>
</ul>

<div class="card bg-dark text-white">

<div class="card-header"> Formulario Contacto </div>

<div class="card-body">

<form #usuarioForm="ngForm"
      autocomplete="off">

  <div class="form-group row mb-3">
    <label for="email" class="col-form-label col-sm-2">Email</label>
    <div class="col-sm-6">

      <input type="text"
              class="form-control"
              [(ngModel)]="usuario.email"
              name="email"
              #email="ngModel"
              placeholder="Barca3420@gmail.com">

      <div class="alert alert-danger"
            *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors.required" >
          email es requerido
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="calle" class="col-form-label col-sm-2">Calle</label>
    <div class="col-sm-6">

      <input type="text"
              class="form-control"
              [(ngModel)]="usuario.calle"
              name="calle"
              #calle="ngModel"
              placeholder="Cerro Alto">

      <div class="alert alert-danger"
            *ngIf="calle.invalid && (calle.dirty || calle.touched)">
        <div *ngIf="calle.errors.required" >
          calle es requerido
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="numero" class="col-form-label col-sm-2">Numero</label>
    <div class="col-sm-6">

      <input type="number"
              class="form-control"
              [(ngModel)]="usuario.numero"
              name="numero"
              #numero="ngModel"
              placeholder="191">

      <div class="alert alert-danger"
            *ngIf="numero.invalid && (numero.dirty || numero.touched)">
        <div *ngIf="numero.errors.required" >
          numero es requerido
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="ciudad" class="col-form-label col-sm-2">Ciudad</label>
    <div class="col-sm-6">

      <input type="text"
              class="form-control"
              [(ngModel)]="usuario.ciudad"
              name="ciudad"
              #ciudad="ngModel"
              placeholder="+56948651020">

      <div class="alert alert-danger"
            *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)">
        <div *ngIf="ciudad.errors.required" >
          ciudad es requerido
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="telefono" class="col-form-label col-sm-2">Telefono</label>
    <div class="col-sm-6">

      <input type="text"
             class="form-control"
             [(ngModel)]="usuario.telefono"
             name="telefono"
             #telefono="ngModel"
             placeholder="+56948651020">

      <div class="alert alert-danger"
           *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
        <div *ngIf="telefono.errors.required" >
          telefono es requerido
        </div>
      </div>

    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-6">

      <button class="btn btn-primary"
              type="button"
              (click)="update()"
              [disabled]="!usuarioForm.form.valid">Editar</button>

    </div>
  </div>

</form>

</div>

</div>
