<detalle-usuario *ngIf="personaSeleccionado" [persona]="personaSeleccionado"></detalle-usuario>

<div>
  <h1>Bienvenido</h1>
</div>

<div class="row">

  <div class="card col m-2" style="width: 30rem;">
    <div class="card-body">
      <h2 class="card-title">Datos Personales</h2>
      <div>
        <ul>
          <li>
            Nombre: {{ persona.primerNombre }} {{ persona.segundoNombre }} {{ persona.primerApellido }} {{ persona.segundoApellido}}
          </li>
          <li>
            Run: {{ persona.run }}
          </li>

          <li>
            Estado Civil: {{ persona.estadoCivil }}
          </li>
          <li>
            Nacionalidad: {{ persona.nacionalidad }}
          </li>
          <li>
            Fecha de Nacimiento: {{ persona.fechaNacimiento | date:"EEEE dd, MMMM yyyy" }}
          </li>
        </ul>
      </div>

      <button type="button"
              name="editar"
              [routerLink]="[ '/usuarios/personales' , persona.id ]"
              class="btn btn-warning m-1">
        Editar
      </button>

    </div>
  </div>

  <div class="card col m-2" style="width: 30rem;">

    <div class="card-body">
      <h2 class="card-title">Foto de Perfil</h2>

        <img    *ngIf="persona?.imagen"
                (click)="abrirModal(persona)"
                src="http://localhost:8080/api/personas/uploads/img/{{ persona.imagen }}"
                alt="{{ persona.imagen }}"
                class="img-thumbnail rounded"
                style="cursor: pointer;">

        <img    *ngIf="!persona?.imagen"
                (click)="abrirModal(persona)"
                src="http://localhost:8080/images/no-usuario.png"
                alt="Sin foto"
                class="img-thumbnail rounded"
                style="cursor: pointer;">

    </div>

  </div>



</div>

<div class="row">

  <div class="card col m-2" style="width: 30rem;">
    <div class="card-body">
      <h2 class="card-title">Contacto</h2>
      <div>
        <ul>
          <li>
            Email: {{ persona.email }}
          </li>
          <li>
            Direccion: {{ persona.calle }} {{ persona.numero }}, {{ persona.ciudad }}
          </li>
          <li>
            Telefono: {{ persona.telefono }}
          </li>
        </ul>
      </div>

      <button type="button"
            name="editar"
            [routerLink]="[ '/usuarios/contacto' , persona.id ]"
            class="btn btn-warning m-1">
        Editar
      </button>

    </div>
  </div>

  <div class="card col m-2" style="width: 30rem;">
    <div class="card-body">
      <h2 class="card-title">Presentacion</h2>
      <div class="m-2">
        {{ persona.presentacion }}
      </div>

      <button type="button"
              name="editar"
              [routerLink]="[ '/usuarios/presentacion' , persona.id ]"
              class="btn btn-warning m-1">
          Editar
      </button>

    </div>
  </div>

</div>
